body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    perspective: 800px;
}

.scene {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 6s infinite linear;
}

@keyframes rotate {
    from { transform: rotateY(0deg) rotateX(0deg); }
    to { transform: rotateY(360deg) rotateX(360deg); }
}

.heart {
    position: absolute;
    width: 100px;
    height: 160px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform-origin: bottom center;
    opacity: 0.9;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 160px;
    background: red;
    border-radius: 50px 50px 0 0;
}

.heart:before {
    left: -50px;
    transform: rotate(-45deg);
}

.heart:after {
    left: 50px;
    transform: rotate(45deg);
}
